@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Noto+Serif+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Noto Serif", system-ui, sans-serif;
  }

  h1 {
    font-family: "Noto Serif Display", system-ui, sans-serif;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

img,
video {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}
