@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Noto+Serif+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: "Noto Serif Display", system-ui, sans-serif;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* user-select: none; */
}

html {
  scroll-behavior: smooth;
}

img,
video {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}
